/**
 * Setup
 */
/**
 * Base
 */
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #444;
  font: 12pt "Fira Sans", Arial;
  font-weight: 300;
  letter-spacing: 0.05em; }
  @media (min-width: 1500px) {
    html {
      font-size: 13pt; } }
  @media (min-width: 1700px) {
    html {
      font-size: 14pt; } }

*, *::before, *::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

body {
  margin: 0; }

hr {
  border: none;
  border-bottom: 1px solid #d6e5ef;
  margin: 2em 0; }

/****************************************
  Misc
*****************************************/
.undefined {
  background-color: lime !important; }

a {
  color: #2B92DA;
  text-decoration: none;
  cursor: pointer; }
  a.plain {
    color: #444; }
    a.plain:hover {
      color: #2B92DA; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Fira Sans", Arial;
  font-weight: 600;
  letter-spacing: 0.1em;
  margin: 0; }
  h1.icon-text svg.icon, h2.icon-text svg.icon, h3.icon-text svg.icon, h4.icon-text svg.icon, h5.icon-text svg.icon, h6.icon-text svg.icon {
    fill: #6dcd86; }

h1 {
  font-size: 1.5em; }

h2 {
  font-size: 1.3em; }

h3 {
  font-size: 1.1em; }

h4, h5, h6 {
  font-size: 1em; }

.sub-heading {
  color: #2B92DA; }

em {
  font-style: italic; }

strong {
  font-weight: 600; }

p {
  line-height: 1.5em; }

p.intro {
  font-size: 1.4em;
  font-weight: 100;
  font-family: 'Lato', Arial; }

.warn {
  color: #c7156e; }

.highlighter {
  background-color: #ffffc2;
  padding: 3px; }

.fineprint {
  font-size: 0.8rem; }
  .fineprint:not(a) {
    color: #888; }
  .fineprint strong {
    color: #444; }

.jumbo-text {
  font-size: 2em;
  font-weight: 300; }

.confine {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.icon-text span {
  margin-left: 0.3em;
  vertical-align: middle; }

.icon-text-reverse span {
  margin-right: 0.3em;
  vertical-align: middle; }

.clearfix {
  /**
	 * More Details: http://nicolasgallagher.com/micro-clearfix-hack/
	 */
  /**
	 * For modern browsers
	 * 1. The space content is one way to avoid an Opera bug when the
	 *    contenteditable attribute is included anywhere else in the document.
	 *    Otherwise it causes space to appear at the top and bottom of elements
	 *    that are clearfixed.
	 * 2. The use of `table` rather than `block` is only necessary if using
	 *    `:before` to contain the top-margins of child elements.
	 */ }
  .clearfix::before, .clearfix::after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */ }
  .clearfix::after {
    clear: both; }

.owl-small {
  /**
   * Apply to containers to get nice gutters between vertical items
   *
   * More Details: https://www.youtube.com/watch?v=w4skJXB03Ho&noredirect=1
   */ }
  .owl-small > * {
    margin-top: 0;
    margin-bottom: 0; }
  .owl-small > * + * {
    margin-top: 0.2em !important; }

.owl-medium {
  /**
   * Apply to containers to get nice gutters between vertical items
   *
   * More Details: https://www.youtube.com/watch?v=w4skJXB03Ho&noredirect=1
   */ }
  .owl-medium > * {
    margin-top: 0;
    margin-bottom: 0; }
  .owl-medium > * + * {
    margin-top: 0.5rem !important; }

.owl {
  /**
   * Apply to containers to get nice gutters between vertical items
   *
   * More Details: https://www.youtube.com/watch?v=w4skJXB03Ho&noredirect=1
   */ }
  .owl > * {
    margin-top: 0;
    margin-bottom: 0; }
  .owl > * + * {
    margin-top: 1rem !important; }

.owl-large {
  /**
   * Apply to containers to get nice gutters between vertical items
   *
   * More Details: https://www.youtube.com/watch?v=w4skJXB03Ho&noredirect=1
   */ }
  .owl-large > * {
    margin-top: 0;
    margin-bottom: 0; }
  .owl-large > * + * {
    margin-top: 2rem !important; }

.horizontal-owl-small {
  /**
   * Apply to containers to get nice gutters between vertical items
   *
   * More Details: https://www.youtube.com/watch?v=w4skJXB03Ho&noredirect=1
   */ }
  .horizontal-owl-small > * + * {
    margin-left: 0.2em !important; }

.horizontal-owl-medium {
  /**
   * Apply to containers to get nice gutters between vertical items
   *
   * More Details: https://www.youtube.com/watch?v=w4skJXB03Ho&noredirect=1
   */ }
  .horizontal-owl-medium > * + * {
    margin-left: 0.5rem !important; }

.horizontal-owl {
  /**
   * Apply to containers to get nice gutters between vertical items
   *
   * More Details: https://www.youtube.com/watch?v=w4skJXB03Ho&noredirect=1
   */ }
  .horizontal-owl > * + * {
    margin-left: 1rem !important; }

.vertical-middle > * {
  vertical-align: middle; }

.link-group {
  display: inline-block; }
  .link-group > * + * {
    position: relative;
    margin-left: 1.2em !important;
    display: inline-block; }
    .link-group > * + *::before {
      content: ':';
      position: absolute;
      left: -0.7em; }

/**
 * Components
 */
svg.icon {
  width: 1em;
  height: 1em;
  fill: currentColor;
  vertical-align: middle;
  line-height: 1em; }
  svg.icon.size-1 {
    width: 1em;
    height: 1em; }
  svg.icon.size-2 {
    width: 2em;
    height: 2em; }
  svg.icon.size-3 {
    width: 3em;
    height: 3em; }
  svg.icon.size-4 {
    width: 4em;
    height: 4em; }
  svg.icon.size-5 {
    width: 5em;
    height: 5em; }
  svg.icon.size-6 {
    width: 6em;
    height: 6em; }
  svg.icon.size-7 {
    width: 7em;
    height: 7em; }
  svg.icon.size-8 {
    width: 8em;
    height: 8em; }
  svg.icon.size-9 {
    width: 9em;
    height: 9em; }
  svg.icon.size-10 {
    width: 10em;
    height: 10em; }
  svg.icon.size-11 {
    width: 11em;
    height: 11em; }
  svg.icon.size-12 {
    width: 12em;
    height: 12em; }
  svg.icon.size-13 {
    width: 13em;
    height: 13em; }
  svg.icon.size-14 {
    width: 14em;
    height: 14em; }
  svg.icon.size-15 {
    width: 15em;
    height: 15em; }
  svg.icon.size-16 {
    width: 16em;
    height: 16em; }
  svg.icon.size-17 {
    width: 17em;
    height: 17em; }
  svg.icon.size-18 {
    width: 18em;
    height: 18em; }
  svg.icon.size-19 {
    width: 19em;
    height: 19em; }
  svg.icon.size-20 {
    width: 20em;
    height: 20em; }
  svg.icon.twist {
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s; }
    svg.icon.twist:hover {
      -webkit-transform: rotate(35deg);
      transform: rotate(35deg); }
  svg.icon.color-pink {
    fill: #c7156e !important; }
  svg.icon.color-green {
    fill: #6dcd86 !important; }
  svg.icon.color-blue {
    fill: #2B92DA !important; }
  svg.icon.color-gray {
    fill: #aaa !important; }
  svg.icon.color-white {
    fill: #fff !important; }

button {
  padding: 0;
  border: none;
  background-color: transparent;
  font-size: 1em;
  outline: 0;
  display: inline-block;
  color: #2B92DA; }
  button::-moz-focus-inner {
    border: 0; }
  button:hover {
    outline: 0; }
  button.warn {
    color: #c7156e; }

button, .button {
  padding: 0;
  border: none;
  background-color: transparent;
  font-size: 1em;
  outline: 0;
  display: inline-block;
  vertical-align: bottom; }
  button::-moz-focus-inner, .button::-moz-focus-inner {
    border: 0; }
  button:hover, .button:hover {
    outline: 0; }

.button {
  padding: 0.3em 0.8em;
  font-size: 1rem;
  letter-spacing: 0.1em;
  background-color: #6dcd86;
  cursor: pointer;
  color: #fff;
  border-radius: 0.2rem;
  border: 1px solid #6dcd86; }
  .button.small {
    font-size: 0.7rem; }
  .button.large {
    font-size: 1.5rem; }
  .button.outline {
    background-color: #fff;
    border: 1px solid currentcolor;
    color: #6dcd86; }
    .button.outline:disabled {
      color: #aaa; }
  .button.outline-light {
    background-color: transparent;
    border-color: #fff;
    color: #fff; }
  .button.warn:not(:disabled):not(.outline) {
    background-color: #c7156e;
    color: #fff;
    border-color: #c7156e; }
    .button.warn:not(:disabled):not(.outline):hover {
      background-color: #b01361; }
  .button.warn:not(:disabled).outline {
    color: #c7156e; }
  .button:not(.outline):not(.outline-light):not(.warn):hover {
    background-color: #47c067;
    border-color: #47c067; }
  .button:not(.outline):not(.outline-light):not(.warn):disabled {
    background: #fafafa;
    border: 1px solid #bbb;
    color: #ccc;
    text-shadow: 1px 1px #fff;
    font-weight: 300; }
  .button.icon-text span {
    margin-left: 0.7em; }

.button-group {
  display: inline-block; }
  .button-group > button:not(:last-child):not(.button-group-left):not(.button-group-right), .button-group .button:not(:last-child):not(.button-group-left):not(.button-group-right) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
    position: relative; }
    .button-group > button:not(:last-child):not(.button-group-left):not(.button-group-right)::after, .button-group .button:not(:last-child):not(.button-group-left):not(.button-group-right)::after {
      content: '';
      display: block;
      width: 1px;
      position: absolute;
      right: 0;
      top: 0.3em;
      bottom: 0.3em;
      border-right: 1px solid rgba(255, 255, 255, 0.7); }
  .button-group > button:not(:first-child):not(.button-group-left):not(.button-group-right), .button-group .button:not(:first-child):not(.button-group-left):not(.button-group-right) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none; }
  .button-group > button.button-group-left, .button-group .button.button-group-left {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
    position: relative; }
    .button-group > button.button-group-left::after, .button-group .button.button-group-left::after {
      content: '';
      display: block;
      width: 1px;
      position: absolute;
      right: 0;
      top: 0.3em;
      bottom: 0.3em;
      border-right: 1px solid rgba(255, 255, 255, 0.7); }
  .button-group > button.button-group-right, .button-group .button.button-group-right {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none; }

.jumbo-notice {
  border: 1px solid #d6e5ef;
  border-radius: 1em;
  padding: 1em;
  text-align: center; }
  @media (min-width: 500px) {
    .jumbo-notice {
      padding: 2em 5em; } }

.paginated-nav > * {
  padding: 0.2em 0.6em;
  display: inline-block; }

.paginated-nav > * + * {
  margin-left: 0.3em; }

.paginated-nav a.change-page {
  border: 1px solid #d6e5ef;
  border-radius: 0.2em;
  background-color: #fff; }
  .paginated-nav a.change-page:hover {
    border-color: #2dc1ea; }
  .paginated-nav a.change-page.active {
    background-color: rgba(228, 246, 252, 0.3);
    border-color: #2dc1ea; }

@-webkit-keyframes pulse {
  20% {
    -webkit-transform: scale(1.8);
    transform: scale(1.8);
    color: #2dc1ea; }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes pulse {
  20% {
    -webkit-transform: scale(1.8);
    transform: scale(1.8);
    color: #2dc1ea; }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

.loading-results {
  display: inline-block;
  font-family: Arial;
  color: #e4f6fc; }
  .loading-results span {
    display: inline-block;
    padding: 0 3px;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -webkit-animation: pulse 0.6s infinite;
    animation: pulse 0.6s infinite;
    -webkit-backface-visibility: hidden; }
  .loading-results span:nth-child(2) {
    -webkit-animation-delay: 0.08s;
    animation-delay: 0.08s; }
  .loading-results span:nth-child(3) {
    -webkit-animation-delay: 0.16s;
    animation-delay: 0.16s; }

.nav-link-tabs {
  border-bottom: 1px solid #b1cee1;
  padding-left: 1em; }
  .nav-link-tabs > a {
    display: inline-block;
    padding: 0.1em 0.7em 0.3em 0.7em;
    margin-bottom: -1px;
    color: #2B92DA;
    border: 1px solid transparent; }
    .nav-link-tabs > a.active {
      border-color: #b1cee1;
      border-bottom-color: #fbfcfd;
      border-top-left-radius: 0.2em;
      border-top-right-radius: 0.2em; }

.lightbox-screen {
  position: fixed;
  z-index: 10000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: radial-gradient(transparent, rgba(0, 0, 0, 0.2)); }

.lightbox {
  position: fixed;
  z-index: 10001;
  width: 600px;
  max-width: 90vw;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #fff; }
  .lightbox > div {
    -webkit-box-shadow: 0 0 75px -15px #000;
    box-shadow: 0 0 75px -15px #000; }
  .lightbox > .close {
    position: absolute;
    right: 0.8em;
    top: 0.5em;
    color: #c7156e; }
  .lightbox.small {
    width: 400px; }
  .lightbox.large {
    width: 900px; }

/****************************************
  Standard Lightbox
*****************************************/
.lightbox.standard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: transparent; }
  .lightbox.standard > div {
    border-radius: 0.5em; }
  .lightbox.standard .lightbox-header, .lightbox.standard .lightbox-footer {
    padding: 1rem;
    background-color: #fafafa; }
  .lightbox.standard .lightbox-header {
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    border-bottom: 1px solid #d6e5ef;
    font-weight: bold; }
  .lightbox.standard .lightbox-footer {
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    border-top: 1px solid #d6e5ef; }
  .lightbox.standard .lightbox-body {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow-y: scroll;
    padding: 1rem;
    background-color: #fff;
    min-height: 5em;
    max-height: 70vh; }
    .lightbox.standard .lightbox-body:first-child {
      border-top-left-radius: 0.5em;
      border-top-right-radius: 0.5em; }
    .lightbox.standard .lightbox-body:last-child {
      border-bottom-left-radius: 0.5em;
      border-bottom-right-radius: 0.5em; }

/**
* Layout
*/
.app.unauthorized {
  min-height: 100vh;
  position: relative;
  background-image: radial-gradient(#7EC6EA, #3AA6E0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .app.unauthorized .logo {
    width: 9em;
    position: fixed;
    top: 1em;
    left: 1em; }
  .app.unauthorized > main {
    /**
   * Apply to containers to get nice gutters between vertical items
   *
   * More Details: https://www.youtube.com/watch?v=w4skJXB03Ho&noredirect=1
   */
    width: 450px;
    margin: 3em auto;
    min-height: 100px; }
    .app.unauthorized > main > * {
      margin-top: 0;
      margin-bottom: 0; }
    .app.unauthorized > main > * + * {
      margin-top: 1rem !important; }

.columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /**
   * Split
   */
  /**
   * Column Enhancers
   */
  /**
   * Flex Items
   */ }
  .columns.split {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .columns.align-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .columns.align-center > * {
      vertical-align: middle; }
  .columns.gutter-size-1 {
    margin-left: -0.5em;
    margin-right: -0.5em; }
    .columns.gutter-size-1 > * {
      margin-left: 0.5em;
      margin-right: 0.5em; }
  .columns.gutter-size-2 {
    margin-left: -1em;
    margin-right: -1em; }
    .columns.gutter-size-2 > * {
      margin-left: 1em;
      margin-right: 1em; }
  .columns.gutter-size-3 {
    margin-left: -1.5em;
    margin-right: -1.5em; }
    .columns.gutter-size-3 > * {
      margin-left: 1.5em;
      margin-right: 1.5em; }
  .columns.gutter-size-4 {
    margin-left: -2em;
    margin-right: -2em; }
    .columns.gutter-size-4 > * {
      margin-left: 2em;
      margin-right: 2em; }
  .columns.gutter-size-5 {
    margin-left: -2.5em;
    margin-right: -2.5em; }
    .columns.gutter-size-5 > * {
      margin-left: 2.5em;
      margin-right: 2.5em; }
  .columns > * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-width: 0; }
  .columns > .span-1 {
    width: 8.33333%; }
  .columns.with-gutters > .span-1 {
    width: calc(8.33333% - 1rem); }
  .columns > .span-2 {
    width: 16.66667%; }
  .columns.with-gutters > .span-2 {
    width: calc(16.66667% - 1rem); }
  .columns > .span-3 {
    width: 25%; }
  .columns.with-gutters > .span-3 {
    width: calc(25% - 1rem); }
  .columns > .span-4 {
    width: 33.33333%; }
  .columns.with-gutters > .span-4 {
    width: calc(33.33333% - 1rem); }
  .columns > .span-5 {
    width: 41.66667%; }
  .columns.with-gutters > .span-5 {
    width: calc(41.66667% - 1rem); }
  .columns > .span-6 {
    width: 50%; }
  .columns.with-gutters > .span-6 {
    width: calc(50% - 1rem); }
  .columns > .span-7 {
    width: 58.33333%; }
  .columns.with-gutters > .span-7 {
    width: calc(58.33333% - 1rem); }
  .columns > .span-8 {
    width: 66.66667%; }
  .columns.with-gutters > .span-8 {
    width: calc(66.66667% - 1rem); }
  .columns > .span-9 {
    width: 75%; }
  .columns.with-gutters > .span-9 {
    width: calc(75% - 1rem); }
  .columns > .span-10 {
    width: 83.33333%; }
  .columns.with-gutters > .span-10 {
    width: calc(83.33333% - 1rem); }
  .columns > .span-11 {
    width: 91.66667%; }
  .columns.with-gutters > .span-11 {
    width: calc(91.66667% - 1rem); }
  .columns > .span-12 {
    width: 100%; }
  .columns.with-gutters > .span-12 {
    width: calc(100% - 1rem); }
  .columns > .size-1 {
    width: 1em; }
  .columns > .size-2 {
    width: 2em; }
  .columns > .size-3 {
    width: 3em; }
  .columns > .size-4 {
    width: 4em; }
  .columns > .size-5 {
    width: 5em; }
  .columns > .size-6 {
    width: 6em; }
  .columns > .size-7 {
    width: 7em; }
  .columns > .size-8 {
    width: 8em; }
  .columns > .size-9 {
    width: 9em; }
  .columns > .size-10 {
    width: 10em; }
  .columns > .size-11 {
    width: 11em; }
  .columns > .size-12 {
    width: 12em; }
  .columns > .size-13 {
    width: 13em; }
  .columns > .size-14 {
    width: 14em; }
  .columns > .size-15 {
    width: 15em; }
  .columns > .size-16 {
    width: 16em; }
  .columns > .size-17 {
    width: 17em; }
  .columns > .size-18 {
    width: 18em; }
  .columns > .size-19 {
    width: 19em; }
  .columns > .size-20 {
    width: 20em; }
  .columns > .size-21 {
    width: 21em; }
  .columns > .size-22 {
    width: 22em; }
  .columns > .size-23 {
    width: 23em; }
  .columns > .size-24 {
    width: 24em; }
  .columns > .size-25 {
    width: 25em; }
  .columns > .size-26 {
    width: 26em; }
  .columns > .size-27 {
    width: 27em; }
  .columns > .size-28 {
    width: 28em; }
  .columns > .size-29 {
    width: 29em; }
  .columns > .size-30 {
    width: 30em; }
  .columns > .size-31 {
    width: 31em; }
  .columns > .size-32 {
    width: 32em; }
  .columns > .size-33 {
    width: 33em; }
  .columns > .size-34 {
    width: 34em; }
  .columns > .size-35 {
    width: 35em; }
  .columns > .size-36 {
    width: 36em; }
  .columns > .size-37 {
    width: 37em; }
  .columns > .size-38 {
    width: 38em; }
  .columns > .size-39 {
    width: 39em; }
  .columns > .size-40 {
    width: 40em; }
  .columns > .size-41 {
    width: 41em; }
  .columns > .size-42 {
    width: 42em; }
  .columns > .size-43 {
    width: 43em; }
  .columns > .size-44 {
    width: 44em; }
  .columns > .size-45 {
    width: 45em; }
  .columns > .size-46 {
    width: 46em; }
  .columns > .size-47 {
    width: 47em; }
  .columns > .size-48 {
    width: 48em; }
  .columns > .size-49 {
    width: 49em; }
  .columns > .size-50 {
    width: 50em; }
  .columns > .flex {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; }
  .columns > .align-left {
    text-align: left; }
  .columns > .align-right {
    text-align: right; }
  .columns > .align-center {
    text-align: center; }

.primary-content-unauthorized {
  /**
   * Apply to containers to get nice gutters between vertical items
   *
   * More Details: https://www.youtube.com/watch?v=w4skJXB03Ho&noredirect=1
   */
  background-color: #fff;
  border-radius: 0.5em;
  min-height: 100px;
  padding: 1rem;
  -webkit-box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.3);
  border: 1px solid #d6e5ef; }
  .primary-content-unauthorized > * {
    margin-top: 0;
    margin-bottom: 0; }
  .primary-content-unauthorized > * + * {
    margin-top: 1rem !important; }

.primary-content-unauthorized.signup {
  width: 800px; }

body {
  background-color: #fbfcfd; }

.app {
  min-width: 980px; }
  .app.lightbox-open {
    -webkit-filter: blur(3px);
    filter: blur(3px); }

.panel {
  padding-left: 1rem;
  padding-right: 1rem; }
  @media (min-width: 1000px) {
    .panel {
      padding: 0; }
      .panel > div {
        margin: 0 auto;
        width: 1000px; } }

.primary-content {
  margin-top: 1rem; }

.section-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 1rem;
  min-height: 40vh; }
  .section-layout > aside {
    /**
   * Apply to containers to get nice gutters between vertical items
   *
   * More Details: https://www.youtube.com/watch?v=w4skJXB03Ho&noredirect=1
   */
    width: 18em;
    padding-bottom: 3em;
    margin-left: 1rem;
    padding-left: 1rem;
    border-left: 1px solid #d6e5ef; }
    .section-layout > aside > * {
      margin-top: 0;
      margin-bottom: 0; }
    .section-layout > aside > * + * {
      margin-top: 2rem !important; }
  .section-layout main {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    /**
   * Apply to containers to get nice gutters between vertical items
   *
   * More Details: https://www.youtube.com/watch?v=w4skJXB03Ho&noredirect=1
   */
    padding-bottom: 3em; }
    .section-layout main > * {
      margin-top: 0;
      margin-bottom: 0; }
    .section-layout main > * + * {
      margin-top: 1rem !important; }

.primary-header {
  background: linear-gradient(-40deg, #0567b2, #3ce2ff);
  color: #fff;
  border-bottom: 3px solid #31caf0; }
  .primary-header > div {
    position: relative;
    min-height: 60px; }
  .primary-header .logo {
    position: absolute;
    left: 0;
    top: 17px;
    width: 200px; }

.context-header {
  background-color: #fff;
  border-bottom: 1px solid #d6e5ef;
  padding: 0 1rem; }
  .context-header .primary-nav {
    margin-left: -1.5em; }
    .context-header .primary-nav .primary-nav-item {
      display: inline-block;
      color: #888;
      padding: 1em 1.5em; }
      .context-header .primary-nav .primary-nav-item a {
        color: inherit; }
      .context-header .primary-nav .primary-nav-item:hover {
        color: #444; }
        .context-header .primary-nav .primary-nav-item:hover svg {
          fill: #2B92DA; }
      .context-header .primary-nav .primary-nav-item.active {
        color: #444;
        border-bottom: 1px solid #2B92DA;
        margin-bottom: -1px;
        font-weight: bold; }
        .context-header .primary-nav .primary-nav-item.active svg {
          fill: #2B92DA; }
