// Theme
$light-gray: #fbfcfd;
$pink: #c7156e;
$light-pink: #ffeaf5;

$blue: #2B92DA;
$dark-blue: #205e8e;
$dark-dark-blue: #1d3a4e;
$light-blue: #e4f6fc;
$bright-blue: #2dc1ea;

$green: #6dcd86;
$dark-green: #498c5a;
$light-green: #eff7f1;
$bright-green: #dbffe4;

// Semantic Colors
$warn: $pink;
$action: $green;

// Specific Colors
$line-color-light: #eaf2f7;
$line-color: #d6e5ef;
$line-color-active: $bright-blue;
