// Reset Vars
$font-family: 'Fira Sans', Arial;
$title-font-family: 'Fira Sans', Arial;
$font-size: 12pt;
$font-weight: 300;
$text-color: #444;
$text-color-light: #888;
$disabled-text-color: #aaa;
$anchor-color: $blue;

// Structure
$gutter: 1rem;
$gutter-small: 0.5rem;
